{% extends 'base.html' %}
{% load static %}

{% block title %}Страница с клиентами{% endblock %}

{% block content %}

{% if title_page %}
    <h1>{{title_page}}</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Название</th>
      <th scope="col">Адрес</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>

  <tbody>


{% for client in compilation %}
    <tr>
      <th scope="row"> <a href="{% url 'client-page' client.slug  %}">{{client.client_id}}</a> </th>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> </td>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.address}}</a> </td>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.stage_status}}</a> </td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% else %}
    <h1>Страница с клиентами</h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Название</th>
      <th scope="col">Адрес</th>
      <th scope="col">Статус</th>
    </tr>
  </thead>

  <tbody>

{% for client in compilation_new %}
    <tr>
      <th scope="row"> <a href="{% url 'client-page' client.slug  %}">{{client.client_id}}</a> </th>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> </td>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.address}}</a> </td>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.stage_status}}</a> </td>
    </tr>
{% endfor %}

{% for client in compilation_kp %}
    <tr>
      <th scope="row"> <a href="{% url 'client-page' client.slug  %}">{{client.client_id}}</a> </th>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> </td>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.address}}</a> </td>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.stage_status}}</a> </td>
    </tr>
{% endfor %}

{% for client in compilation_wait_requisites %}
    <tr>
      <th scope="row"> <a href="{% url 'client-page' client.slug  %}">{{client.client_id}}</a> </th>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> </td>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.address}}</a> </td>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.stage_status}}</a> </td>
    </tr>
{% endfor %}

{% for client in compilation_wait_contract %}
    <tr>
      <th scope="row"> <a href="{% url 'client-page' client.slug  %}">{{client.client_id}}</a> </th>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> </td>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.address}}</a> </td>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.stage_status}}</a> </td>
    </tr>
{% endfor %}

{% for client in compilation_finish %}
    <tr>
      <th scope="row"> <a href="{% url 'client-page' client.slug  %}">{{client.client_id}}</a> </th>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> </td>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.address}}</a> </td>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.stage_status}}</a> </td>
    </tr>
{% endfor %}

{% for client in compilation_cancel %}
    <tr>
      <th scope="row"> <a href="{% url 'client-page' client.slug  %}">{{client.client_id}}</a> </th>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> </td>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.address}}</a> </td>
      <td> <a href="{% url 'client-page' client.slug  %}">{{client.stage_status}}</a> </td>
    </tr>
{% endfor %}

  </tbody>
</table>


{% endif %}








{% endblock %}