{% extends 'base.html' %}
{% load static %}

{% block title %}Страница с клиентами{% endblock %}

{% block content %}

{% if title_page %}
    <h1>{{title_page}}</h1>

{% for client in compilation %}
    <a href="{% url 'client-page' client.slug  %}">{{client.stage_status}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.client_id}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.address}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.mat_status}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> | <br>
{% endfor %}


{% else %}
    <h1>Страница с клиентами</h1>


{% for client in compilation_new%}
    <a href="{% url 'client-page' client.slug  %}">{{client.stage_status}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.client_id}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.address}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.mat_status}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> | <br>
{% endfor %}

{% for client in compilation_kp %}
    <a href="{% url 'client-page' client.slug  %}">{{client.stage_status}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.client_id}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.address}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.mat_status}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> | <br>
{% endfor %}

{% for client in compilation_wait_requisites %}
    <a href="{% url 'client-page' client.slug  %}">{{client.stage_status}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.client_id}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.address}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.mat_status}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> | <br>
{% endfor %}

{% for client in compilation_wait_contract %}
    <a href="{% url 'client-page' client.slug  %}">{{client.stage_status}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.client_id}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.address}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.mat_status}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> | <br>
{% endfor %}

{% for client in compilation_finish %}
    <a href="{% url 'client-page' client.slug  %}">{{client.stage_status}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.client_id}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.address}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.mat_status}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> | <br>
{% endfor %}

{% for client in compilation_cancel %}
    <a href="{% url 'client-page' client.slug  %}">{{client.stage_status}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.client_id}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.address}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.mat_status}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> | <br>
{% endfor %}

{% endif %}





<hr>






{% endblock %}