{% extends 'base.html' %}
{% load static %}

{% block title %}Страница с клиентами{% endblock %}

{% block content %}

{% if title_page %}
    <h1>{{title_page}}</h1>
{% else %}
    <h1>Страница с клиентами</h1>
{% endif %}



{% for client in all_clients %}
    <a href="{% url 'client-page' client.slug  %}">{{client.stage_status}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.client_id}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.address}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.mat_status}}</a> |
    <a href="{% url 'client-page' client.slug  %}">{{client.title}}</a> | <br>
{% endfor %}


{% endblock %}