<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'my_crm/css/style.css' %}">

</head>
<body>
<color style="background-color:#3465A4">__</color>
<a href="{% url 'index-page' %}">Все</a><br><br>
{% for stage in all_stages %}
    <color style="background-color:{{stage.color}}">__</color>
    <a href="">{{stage.title}}</a><br>
{% endfor %}

<br>

<a href="{% url 'settings-page' %}">Настройки</a><br>
<a href="{% url 'statistics-page' %}">Статистика</a><br>
<hr>


{% block content %}
{% endblock %}







</body>
</html>